*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: poppins, roboto, sans-serif;
    font-weight: 300;
}

.flex-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 131, 17);
    justify-content: space-between;
    align-items: end;
    margin:10px;
}

.item{
    width: 200px;
    height: 200px;
    background-color: rgb(219, 219, 219);
    color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item h3{
    font-weight: 300;
    font-style: italic;
}

.item:nth-of-type(1){
   justify-content: right;
    }
    
.item:nth-of-type(2){
    justify-content: left;
    }
    
.item:nth-of-type(3){
    }
